<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circle">
    </div>
    <div class="col-md-9">
      <h1>{{artista.name}}</h1>
      <hr>

      <a [href]="artista.external_urls?.spotify" target="_blank" class="btn btn-outline-success">Abrir Spotify</a>
      <button [routerLink]="['/search']" type="button" class="btn btn-outline-danger">Regresar</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">

      <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Foto</th>
      <th scope="col">Canción</th>
      <th scope="col">Popularidad</th>
      <th scope="col">Escuchar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pista of pistas; let i = index">
      <th scope="row">{{i+1}}</th>
      <td><img [src]="pista.album.images | sinfoto" class="track-img"></td>
      <td>{{pista.name}}</td>
      <td>{{pista.popularity}}%</td>
      <td>
        <iframe [src]="pista.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
      </td>
    </tr>
  </tbody>
</table>

    </div>
  </div>
</div>
