<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artista</label>
      <input type="text" placeholder="Buscar artista..." class="form-control" (keyup)="buscarArtista()" [(ngModel)]="termino">
    </div>
    <div class="col-md-9">
      <h1 class="text-capitalize">{{termino}}</h1>
      <hr *ngIf="termino.length > 1">

      <div class="row">
        <div class="col-md-3 text-center puntero" [routerLink]="['/artist', artista.id]" *ngFor="let artista of _spotify.artistas">
          <img [src]="artista.images | sinfoto" class="img-thumbnail">
          <p>{{artista.name}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
